PORT=4000
MONGO_URI=mongodb://localhost:27017/prototipo-ir
ZIPKIN_URL=http://localhost:9411
OPENAI_MODEL=gpt-5-mini
OPENAI_API_KEY=

# Confugurar el numero máximo de llamadas a tools en una sola interacción
MAX_ITERATIONS=5

# Valores por defecto para las trazas
DEFAULT_TRACE_LIMIT=10
DEFAULT_LOOKBACK_MINUTES=15
DEFAULT_THRESHOLD_MS=200
